/* Font */

.text{
    font-family: 'Roboto', sans-serif;
}
.st-font{
    font-family: 'satisfy',cursive;
}

html,
body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

.i-color{
    color: chartreuse;
}

.ss-color{
    color: whitesmoke;
}
a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
}

a.nav-link:active{
    color: black;
    background-color: #ffc107;
}